<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h4>定时任务报告</h4>
<style>
    table,table tr th, table tr td { border:1px solid #0094ff; }
    table { width: 1000px; min-height: 25px; line-height: 25px; text-align: center; border-collapse: collapse;}
</style>
<table>
    <tr>
        {{range .Results}}
            <th>{{.ScheduleTaskName}}</th>
        {{end}}
    </tr>
    <tr>
        {{range .Results}}
            <td>{{.Result}}</td>
        {{end}}
    </tr>
</table>
<div>
    {{.Time}}
</div>
</body>
</html>